<section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false" [collapseControl]="false" [closeControl]="false"
  class="mb-5 pb-2" bodyClass="task-container mt">
  <h6 *widgsterTitle>
    <div>
      <h4>Today&apos;s Tasks
        <span class='badge badge-pill badge-success fw-bold pull-right mt-xs'>
          {{tasks.length}}
        </span>
      </h4>
      <p class="mb-0">
        <small class="text-primary">
          {{tasksCompletedLength}} of {{tasks.length}} completed
        </small>
      </p>
    </div>
  </h6>
  <task *ngFor="let task of tasks" [task]="task" [completed]="task.completed" (toggle)="toggleTaskState($event)"></task>
  <button class="btn btn-transparent w-100 text-center">
    See All <i class="la la-arrow-down"></i>
  </button>
</section>
