<h1 class="page-title">Dashboard <small><small>{{cityName}}</small></small></h1>
<div (click)="$event.target.id != demoModal ">
<div class="row">
  <div class="col-lg-7 col-12">
    <section class="bg-transparent" widgster [optionsControl]="false" [reloadControl]="false"
      [fullscreenControl]="false" [collapseControl]="false" [closeControl]="false" title="Test House Geo Location">
      <div class="map-wrapper">
        <div class="map">
          <div #map style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-4 col-12">
    <section class="bg-transparent" widgster controlsClass="widget-controls-hover" [fullscreenControl]="false"
      [collapseControl]="false">
      <h5 *widgsterTitle>Current <span class="fw-semi-bold">Status</span></h5>
      <p> <strong><p class="value">{{status}} &nbsp;&nbsp;&nbsp;&nbsp; <span [class]="className"></span></p></strong></p>
      <p>
        <p>Up Time: <strong> <p *ngIf="timer.elapsedTime" class="value">{{timer.elapsedTime}}</p> </strong></p>
        <p  *ngIf="isActiveTest">Hardware Version: <strong> <p *ngIf="isActiveTest" class="value">{{hardwareVersion}}</p> </strong></p>
        <p  *ngIf="isActiveTest">Software Version: <strong> <p *ngIf="isActiveTest" class="value">{{softwareVersion}}</p> </strong></p>
        <p  *ngIf="isActiveTest">Estimated End Date: <strong> <p *ngIf="isActiveTest" class="value">{{estimatedEndDate}}</p> </strong></p>
   

        <div class="row progress-stats">
          <div class="col-md-9 col-12">
            <h6 class="name"></h6>
            <p class="description deemphasize">Elapsed Time</p>
            <div class="progress progress-xs">
              <progressbar type="danger" [animate]="true" [value]="loadPercentage" [max]="100" [animate]="true" [striped]="true" >
              </progressbar>
            </div>
          </div>
          <div class="col-md-3 col-12 text-center">
            <span style="width: 2.5rem; height: 2.5rem; background: #222D3C;display: flex;justify-content: center;flex-direction: column;" class="status rounded">
              <small><span [countUp]="loadPercentage" [options]="countUpOptions">0</span>%</small>
            </span>
          </div>
        </div>
        
        <p>
        <!-- <span class="circle bg-warning"><i style="color: #293647" class="fa fa-map-marker"></i></span> -->
        <span class="glyphicon glyphicon-signal"></span>  &nbsp;&nbsp;{{message}}
       
      </p>
      
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-12">
    <section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false">
      <h6 *widgsterTitle>Count of Total Devices </h6>
      <div class="row">
      <div class="col-3">
          <span class="widget-icon">
            <img src="../../../../assets/img/rasp.png">
          </span>
        </div>

        <div class="col-4">
           <!-- <span class=fw-semi-bold></span>  -->
          <p class="h1 m-6 fw-semi-bold text-primary">{{countOfTotalConnectedDevice+countOfTotalDisconnectedDevice}}</p>
      </div>
  </div>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false">
      <h6 *widgsterTitle>Count of Online Devices </h6>
      <div class="row">
      <div class="col-3">
          <span class="widget-icon">
            <img src="../../../../assets/img/rasp.png">
          </span>
        </div>

        <div class="col-4">
           <!-- <span class=fw-semi-bold></span>  -->
          <p class="h1 m-6 fw-semi-bold text-success">{{countOfTotalConnectedDevice}}</p>
      </div>
  </div>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false">
      <h6 *widgsterTitle>Count of Offline Devices </h6>
      <div class="row">
      <div class="col-3">
          <span class="widget-icon">
            <img src="../../../../assets/img/rasp.png">
          </span>
        </div>

        <div class="col-4">
           <span class=fw-semi-bold>  </span> 
          <p class="h1 m-6 fw-semi-bold text-danger">{{countOfTotalDisconnectedDevice}}</p>
      </div>
  </div>
    </section>
  </div>
</div>



<div class="row">
  <div class="col-lg-4 col-12">
    <section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false">
      <h6 *widgsterTitle>Count of Total Client </h6>
      <div class="row">
      <div class="col-3">
          <span class="widget-icon">
            <img src="../../../../assets/img/wifiAdapter.png">
          </span>
        </div>

        <div class="col-4">
           <!-- <span class=fw-semi-bold></span>  -->
          <p class="h1 m-6 fw-semi-bold text-primary">{{countOfTotalClient}}</p>
      </div>
  </div>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false">
      <h6 *widgsterTitle>Count of Online Devices </h6>
      <div class="row">
      <div class="col-3">
          <span class="widget-icon">
            <img src="../../../../assets/img/wifiAdapter.png">
          </span>
        </div>

        <div class="col-4">
           <!-- <span class=fw-semi-bold></span>  -->
          <p class="h1 m-6 fw-semi-bold text-success">{{countOfTotalConnecteClient}}</p>
      </div>
  </div>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false">
      <h6 *widgsterTitle>Count of Offline Client </h6>
      <div class="row">
      <div class="col-3">
          <span class="widget-icon">
            <img src="../../../../assets/img/wifiAdapter.png">
          </span>
        </div>

        <div class="col-4">
           <span class=fw-semi-bold>  </span> 
          <p class="h1 m-6 fw-semi-bold text-danger">{{countOfTotalDisconnectedClient}}</p>
      </div>
  </div>
    </section>
  </div>
</div>



<div class="row">
  <div class="col-lg-4 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [collapseControl]="false" bodyClass="p-0"
      footerClass="bg-widget-transparent mt">
     
      <ngx-datatable class="table table-striped table-hover" [rows]="ssidList"  [columnMode]="force" [sortType]="single" 
      [headerHeight]="'auto'"[footerHeight]="'auto'" [rowHeight]="'auto'" [limit]="6" [scrollbarH]="true">
      <ngx-datatable-column name="instance" [width]="190">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column >
      <!-- <ngx-datatable-column name="device">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="fw-semi-bold">{{value}}</span>
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="ssid" [width]="150">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="bssid" >
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>

 
    </ngx-datatable>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section class="market-stats" widgster [reloadControl]="false" [optionsControl]="false" [collapseControl]="false"
      [fullscreenControl]="false" [collapseControl]="true">
      <h6 *widgsterTitle> Test House <span class="fw-semi-bold">Comments</span> </h6>
      <!-- <p class="fs-mini text-muted mb mt-sm">
        Target <span class="fw-semi-bold">$820</span> day earnings
        is <span class="fw-semi-bold">96%</span> reached.
      </p>
      <div class="widget-table-overflow">
        <table class="table table-striped table-sm">
          <thead class="no-bd">
            <tr>
              <th>
                <div class="abc-checkbox">
                  <input id="checkbox210" type="checkbox" check-all>
                  <label for="checkbox210"></label>
                </div>
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="abc-checkbox">
                  <input id="checkbox212" type="checkbox">
                  <label for="checkbox212"></label>
                </div>
              </td>
              <td>HP Core i7</td>
              <td class="text-align-right fw-semi-bold">$346.1</td>
            </tr>
            <tr>
              <td>
                <div class="abc-checkbox">
                  <input id="checkbox214" type="checkbox">
                  <label for="checkbox214"></label>
                </div>
              </td>
              <td>Air Pro</td>
              <td class="text-align-right fw-semi-bold">$533.1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-5 chart-overflow-bottom" market-stats-widget height="130px" [options]="echartDynamicAreaData3"
        [merge]="echartDynamicAreaDataUpdate">
      </div> -->
      <div class="container">
        <div class="card">
            <div class="commentbox">
                <div class="col-12 col-sm-12 header">
                    <h4>Comments ({{count}})</h4>
                </div>
                <div class="col-12 col-sm-12 body">
                    <div class="comment-container">
                            <div class="comment-form">
                                    <app-commentbox (usercomment)="receiveComment($event)" [deletedComments]="comments"></app-commentbox>
                            </div>
                    </div>
                </div>
            </div>
            <app-comments [postComment]="comments" (countComments)="recieveCount($event)"></app-comments>
        </div>
    </div>
    </section>
  </div>
  <div class="col-lg-4 col-12">
    <section widgster [reloadControl]="false" [fullscreenControl]="false" [collapseControl]="false" bodyClass="p-0">
      <h6 *widgsterTitle>Calendar</h6>
      <div class="calendar-navigation">
        <div class="prev" mwlCalendarPreviousView view="month" [(viewDate)]="viewDate">
          <i class="icon-arrow-left la la-arrow-left"></i></div>
        <div class="date">{{viewDate | date: 'LLLL yyyy'}}</div>
        <div class="next" mwlCalendarNextView view="month" [(viewDate)]="viewDate">
          <i class="icon-arrow-right la la-arrow-right"></i></div>
      </div>
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" (eventClicked)="onEventClick($event)">
      </mwl-calendar-month-view>
      <!-- <div class="list-group fs-mini">
        <button class="list-group-item text-left text-ellipsis">
          <span class="badge badge-pill badge-warning float-right">6:45</span>
          Weed out the flower bed
        </button>
        <button class="list-group-item text-left text-ellipsis">
          <span class="badge badge-pill badge-success float-right">9:41</span>
          Stop world water pollution
        </button>

      </div> -->
      
      <button class="btn btn-primary mr-sm"  (click)="demoModal.show()">Add New Event</button>
      <div class="modal fade" bsModal  #demoModal="bs-modal" [config]="{backdrop: 'static'}" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left">New Events</h4>
              <button type="button" class="close pull-right" (click)="demoModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h1 class="page-title"><span class="fw-semi-bold"> </span></h1>
              <div class="row">
                <div class="col-lg-12">
                  <section widgster [fullscreenControl]="false" [collapseControl]="false">
                    <h6 *widgsterTitle>
                      Inputs
                    </h6>
                    <form class="form-horizontal" role="form">
                      <fieldset>
                        <legend><strong>Add Calendar Events</strong></legend>
                        <div class="form-group row">
                          <label for="normal-field" class="col-md-4  col-form-label text-md-right">Title</label>
                          <div class="col-md-7 ">
                            <input type="text" id="title" class="form-control input-transparent"  [(ngModel)]="selectedEvent" [ngModelOptions]="{standalone: true}"
                              placeholder="Write a title for event">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="normal-field" class="col-md-4  col-form-label text-md-right">Color</label>
                          <div class="col-md-7 ">
                              <ng-select   placeholder="Select Color"      [(ngModel)]="selectedColor" [ngModelOptions]="{standalone: true}" (change)="selectedColor = $event">
                              <ng-option *ngFor="let item of colorList" [value]="item.name">{{item.name}}</ng-option>
                              </ng-select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="normal-field" class="col-md-4  col-form-label text-md-right">Date</label>
                          <div class="col-md-7 ">
                            <input type="text" ngxDaterangepickerMd
                            [(ngModel)]="selectedDate" [ngModelOptions]="{standalone: true}" placeholder="Choose date"    [singleDatePicker]="true"/>
                          </div>
                        </div>
                      </fieldset>
                      <div class="form-actions">
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary" (click)="addNewEvent()">Save Changes</button>
                          <button type="button" class="btn btn-inverse ml-xs" (click)="demoModal.hide()">Cancel</button>
                        </div>
                      </div>
                    </form>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      





<button class="btn btn-primary mr-sm"  (click)="deleteModal.show()">Delete Event</button>
<div class="modal fade" bsModal  #deleteModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Events</h4>
        <button type="button" class="close pull-right" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="page-title"><span class="fw-semi-bold"> </span></h1>
        <div class="row">
          <div class="col-lg-12">
            <section widgster [fullscreenControl]="false" [collapseControl]="false">
              <h6 *widgsterTitle>
                Inputs
              </h6>
              <form class="form-horizontal" role="form">
                <fieldset>
                  <legend><strong>Delete Calendar Events</strong></legend>

                  <div class="form-group row">
                    <label for="normal-field" class="col-md-4  col-form-label text-md-right">Events</label>
                    <div class="col-md-7 ">
                        <ng-select    placeholder="Select Event"   [(ngModel)]="selectedDeleteEvent" [ngModelOptions]="{standalone: true}" (change)="selectedDeleteEvent =  $event" >
                          <ng-option *ngFor="let item of deleteList" [value]="item.date +'!@!'+ item.originalTitle">{{item.title}}</ng-option>
                        </ng-select>
                    </div>
                  </div>

                </fieldset>
                <div class="form-actions">
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" (click)="deleteEvent()">Delete</button>
                    <button type="button" class="btn btn-inverse ml-xs" (click)="deleteModal.hide()">Cancel</button>
                  </div>
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      
    </section>
  </div>
</div>
</div>