@import "../../../styles/helpers";

/***********************/
/* Part:Progress Stats */
/***********************/

.progress-stats {
  .name {
    margin-bottom: 0.25rem;
  }

  .description {
    margin-bottom: 0.25rem;
  }

  .status {
    margin-top: 1.25rem;
  }

  @include media-breakpoint-down(lg) {
    .description + .progress {
      margin-bottom: 0;
    }
  }
}

progressbar.progress {
  height: 100%;
}

.map-wrapper {
  position: relative;

  .stats {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 5% 10%;
  }
}

/***********************/
/* Part: Market Stats  */
/***********************/

.market-stats {
  overflow: hidden;
}

/***********************/
/*    Part: Calendar   */
/***********************/
mwl-calendar-month-view .cal-month-view {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
