<ol class="breadcrumb">
  <li class="breadcrumb-item">YOU ARE HERE</li>
  <li class="breadcrumb-item active">Form Wizard</li>
</ol>
<h1 class="page-title">Form - <span class="fw-semi-bold">Wizards</span></h1>
<div class="row">
  <div class="col-lg-8 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        Wizard
        <small>Tunable widget</small>
      </h5>
      <h5>Inpage <strong>Wizard</strong></h5>
        <p>An example of complete wizard form in widget.</p>
        <form [formGroup]="form">
          <ng-wizard #wizard [config]="config">
            <ng-wizard-step title="1. Your Details">
              <ng-container formGroupName="details">
                <fieldset>
                  <div class="form-group">
                    <!-- Username -->
                    <label for="username">Username</label>
                    <input formControlName="username" type="text" class="form-control input-transparent">
                    <ng-container *ngIf="firstStepSubmited">
                      <span *ngIf="form.get('details').get('username').errors?.required" class="error">This value is
                        required</span>
                      <span *ngIf="form.get('details').get('username').errors?.pattern" class="error">Only letters or
                        numbers
                        allowed</span>
                    </ng-container>
                    <span class="help-block">Username can contain any letters or numbers, without spaces</span>
                  </div>
                  <div class="form-group">
                    <!-- Email -->
                    <label for="email">Email</label>
                    <input formControlName="email" type="email" class="form-control input-transparent">
                    <ng-container *ngIf="firstStepSubmited">
                      <span *ngIf="form.get('details').get('email').errors?.required" class="error">This value is
                        required</span>
                      <span *ngIf="form.get('details').get('email').errors?.email" class="error">This value should be a
                        valid email</span>
                    </ng-container>
                    <span class="help-block">Please provide your E-mail</span>
                  </div>
                  <div class="form-group">
                    <!-- Password -->
                    <label for="address">Address</label>
                    <input formControlName="address" type="text" class="form-control input-transparent">
                    <span class="help-block">Please provide your address</span>
                  </div>
                </fieldset>
                <ul class="pager wizard">
                  <li class="next">
                    <button type="button" (click)="onFirstStepSubmit()" class="btn btn-primary btn-rounded pull-right">
                      Next &nbsp; <i class="fa fa-caret-right"></i></button>
                  </li>
                </ul>
              </ng-container>
            </ng-wizard-step>

            <ng-wizard-step title="2. Shipping">
              <ng-container formGroupName="shipping">
                <fieldset>
                  <div class="form-group">
                    <label for="country-select">Destination Country</label>

                    <ng-select formControlName="country" [items]="countries" [virtualScroll]="true">
                    </ng-select>

                    <span class="help-block">Please choose your country destination</span>

                  </div>
                  <div class="form-group">
                    <label for="courier">Choose shipping option</label>
                    <ng-select formControlName="shoppingOption">
                      <ng-option value="Australia Post">Australia Post</ng-option>
                      <ng-option value="DHL US">DHL US</ng-option>
                      <ng-option value="Other">Other</ng-option>
                    </ng-select>
                    <span class="help-block">Please choose your shipping option</span>

                  </div>
                  <div class="form-group">
                    <label for="destination">Destination Zip Code</label>
                    <input type="text" formControlName="zip" class="form-control input-transparent"
                      [textMask]="destindationMask">
                    <span class="error"
                      *ngIf="form.get('shipping').get('zip').errors?.required && secondStepSubmited">This value is
                      required</span>
                    <span class="help-block">Please provide your Destination Zip Code</span>
                  </div>
                  <div class="form-group">
                    <label for="dest-address">Destination Address</label>
                    <input type="text" formControlName="address" class="form-control input-transparent">
                    <span class="help-block">Please provide the destination address</span>
                  </div>
                </fieldset>
                <ul class="pager wizard">
                  <li class="previous">
                    <button type="button" (click)="onShowPreviousStep()" class="btn btn-default btn-rounded pull-left">
                      <i class="fa fa-caret-left"></i> &nbsp; Previous
                    </button>
                  </li>
                  <li class="next">
                    <button type="button" (click)="onSecondStepSubmit()" class="btn btn-primary btn-rounded pull-right">
                      Next &nbsp; <i class="fa fa-caret-right"></i></button>
                  </li>
                </ul>
              </ng-container>
            </ng-wizard-step>

            <ng-wizard-step title="3. Pay">
              <ng-container formGroupName="pay">
                <fieldset>
                  <div class="form-group">
                    <label for="name">Name on the Card</label>
                    <input type="text" formControlName="name" class="form-control input-transparent">
                    <span class="error" *ngIf="form.get('pay').get('name').errors?.required && thirdStepSubmited">This
                      value is required</span>
                  </div>
                  <div class="form-group">
                    <label for="credit-card-type">Credit Card Type</label>
                    <select formControlName="cardType" class="form-control input-transparent">
                      <option value=""></option>
                      <option value="Visa">Visa</option>
                      <option value="Mastercard">Mastercard</option>
                      <option value="Other">Other</option>
                    </select>
                    <span class="error"
                      *ngIf="form.get('pay').get('cardType').errors?.required && thirdStepSubmited">This value is
                      required</span>

                  </div>
                  <div class="form-group ">
                    <label for="credit">Credit Card Number </label>
                    <input type="text" formControlName="cardNumber" tabindex="3" class="form-control input-transparent"
                      [textMask]="creditMask">
                    <span class="error"
                      *ngIf="form.get('pay').get('cardNumber').errors?.required && thirdStepSubmited">This value is
                      required</span>
                  </div>
                </fieldset>
                <ul class="pager wizard">
                  <li class="previous">
                    <button type="button" (click)="onShowPreviousStep()" class="btn btn-default btn-rounded pull-left">
                      <i class="fa fa-caret-left"></i> &nbsp; Previous
                    </button>
                  </li>
                  <li class="next">
                    <button type="button" (click)="onThirdStepSubmit()" class="btn btn-primary btn-rounded pull-right">
                      Next &nbsp; <i class="fa fa-caret-right"></i></button>
                  </li>
                </ul>
              </ng-container>
            </ng-wizard-step>
            <ng-wizard-step title="4. Thank you!">
              <h2 class="m-t-1">Thank you!</h2>
              <p>Your submission has been received.</p>
              <ul class="pager wizard">
                <li class="previous">
                  <button type="button" (click)="onShowPreviousStep()" class="btn btn-default btn-rounded pull-left">
                    <i class="fa fa-caret-left"></i> &nbsp; Previous
                  </button>
                </li>
                <li class="finish">
                  <button type="button" (click)="resetWizard()" class="btn btn-success btn-rounded pull-right">
                    Finish &nbsp; <i class="glyphicon glyphicon-ok"></i>
                  </button>
                </li>
              </ul>
            </ng-wizard-step>
          </ng-wizard>
        </form>
    </section>
  </div>
</div>
