<ol class="breadcrumb">
  <li class="breadcrumb-item">YOU ARE HERE</li>
  <li class="breadcrumb-item">Charts</li>
  <li class="breadcrumb-item active">Overview</li>
</ol>
<h1 class="page-title">Visual - <span class="fw-semi-bold">Charts</span></h1>
<div class="row">
  <div class="col-lg-6 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [collapseControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        <span class="fw-semi-bold">Ngx</span> Charts
      </h5>
      <p class="fs-mini text-muted">
        This is a very young collection of components, with the goal of keeping these components
        very customizeable.
      </p>
      <div style="height: 250px;">
        <ngx-charts-bar-vertical-2d [scheme]="ngxGroupedVerticalBarChartData.colorScheme"
          [results]="ngxGroupedVerticalBarChartData.results" [gradient]="ngxGroupedVerticalBarChartData.gradient"
          [xAxis]="ngxGroupedVerticalBarChartData.showXAxis" [yAxis]="ngxGroupedVerticalBarChartData.showYAxis"
          [legend]="ngxGroupedVerticalBarChartData.showLegend"
          [yAxisTickFormatting]="ngxGroupedVerticalBarChartData.yAxisTickFormatting">
        </ngx-charts-bar-vertical-2d>
      </div>
    </section>
  </div>
  <div class="col-lg-6 col-12">
    <section class="realtime-echarts" widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        Realtime <span class="fw-semi-bold">Echarts</span>
      </h5>
      <h5>720 Users</h5>
      <div class="progress progress-xs">
        <div class="progress-bar progress-xs bg-success" style="width: 60%;" data-width="60%"></div>
      </div>
      <p class="fs-mini text-muted mb-lg">
        <span class="circle bg-success text-white">
          <i class="fa fa-circle"></i>
        </span>
        &nbsp;
        Target <span class="fw-semi-bold">820</span> users
        is <span class="fw-semi-bold">96%</span> reached.
      </p>
      <div style="height: 225px;" class="chart-overflow-bottom" echarts [options]="echartDynamicAreaData"
        [merge]="echartDynamicAreaDataUpdate">
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        Apex <span class="fw-semi-bold">Charts</span>
      </h5>
      <apx-chart class="chart-inner transparent-bg" [grid]="apexOptions3.grid" [series]="apexOptions3.series" [stroke]="apexOptions3.stroke"
        [chart]="apexOptions3.chart" [colors]="apexOptions3.colors" [legend]="apexOptions3.legend"
        [xaxis]="apexOptions3.xaxis" [yaxis]="apexOptions3.yaxis" [tooltip]="apexOptions3.tooltip">
      </apx-chart>
      <div class="chart-tooltip" id="flot-main-tooltip" style="opacity: 0"></div>
      <h5 class="mt">Interactive <span class="fw-semi-bold">Sparklines</span></h5>
      <div class="row mt">
        <div class="col-md-6 col-12">
          <div class="stats-row">
            <div class="stat-item">
              <p class="value5 fw-thin">34 567</p>
              <h6 class="name text-muted m-0 fs-mini">Overall Values</h6>
            </div>
            <div class="stat-item stat-item-mini-chart">
              <div style="height: 30px; width: 54px;" echarts [options]="echartBarChartData3">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="stats-row">
            <div class="stat-item">
              <p class="value5 fw-thin">34 567</p>
              <h6 class="name text-muted m-0 fs-mini">Overall Values</h6>
            </div>
            <div class="stat-item stat-item-mini-chart">
              <div style="height: 30px; width: 54px;" echarts [options]="echartBarChartData4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-6 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false" bodyClass="clearfix">
      <h5 *widgsterTitle>
        Highcharts <span class="fw-semi-bold">Line Chart</span>
      </h5>
      <div class="text-center">
        <highcharts-chart *ngIf="smallHighchartsOptions5" style="display: block; width: 100%;" [Highcharts]="Highcharts"
          [options]="smallHighchartsOptions5">
        </highcharts-chart>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false" [collapseControl]="false">
      <h5 *widgsterTitle>
        Echarts <span class="fw-semi-bold">Pie Chart</span>
      </h5>
      <div style="height: 200px;" class="chart-overflow-bottom mb-0 text-center" echarts [options]="echartPieChartData">
      </div>
    </section>
  </div>
  <div class="col-md-9 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false" [collapseControl]="false">
      <h5 *widgsterTitle>
        Echarts <span class="fw-semi-bold">Line Chart</span>
      </h5>
      <div style="height: 200px;" class="chart-overflow-bottom mb-0 text-center" echarts
        [options]="echartLineChartData2">
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false" [collapseControl]="false">
      <h5 *widgsterTitle>
        <span class="fw-semi-bold">Ehcarts</span> Bar Chart
      </h5>
      <div style="height: 220px;" class="chart-overflow-bottom" echarts [options]="echartBarChartData">
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        Ngx <span class="fw-semi-bold">Area Charts</span>
      </h5>
      <div style="height: 343px;">
        <ngx-charts-area-chart [scheme]="ngxAreaChartData.colorScheme" [results]="ngxAreaChartData.results"
          [gradient]="ngxAreaChartData.gradient" [xAxis]="ngxAreaChartData.showXAxis"
          [yAxis]="ngxAreaChartData.showYAxis" [legend]="ngxAreaChartData.showLegend"
          [showXAxisLabel]="ngxAreaChartData.showXAxisLabel" [showYAxisLabel]="ngxAreaChartData.showYAxisLabel"
          [xAxisLabel]="ngxAreaChartData.xAxisLabel" [yAxisLabel]="ngxAreaChartData.yAxisLabel"
          [autoScale]="ngxAreaChartData.autoScale" [xAxisTickFormatting]="ngxAreaChartData.xAxisTickFormatting">
        </ngx-charts-area-chart>
      </div>
    </section>
  </div>
  <div class="col-lg-6 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        Ngx <span class="fw-semi-bold">Line Charts</span>
      </h5>
      <div style="height: 343px;">
        <ngx-charts-line-chart [scheme]="ngxLineChartData.colorScheme" [results]="ngxLineChartData.results"
          [gradient]="ngxLineChartData.gradient" [xAxis]="ngxLineChartData.showXAxis"
          [yAxis]="ngxLineChartData.showYAxis" [legend]="ngxLineChartData.showLegend"
          [showXAxisLabel]="ngxLineChartData.showXAxisLabel" [showYAxisLabel]="ngxLineChartData.showYAxisLabel"
          [xAxisLabel]="ngxLineChartData.xAxisLabel" [yAxisLabel]="ngxLineChartData.yAxisLabel"
          [autoScale]="ngxLineChartData.autoScale" [xAxisTickFormatting]="ngxLineChartData.xAxisTickFormatting">
        </ngx-charts-line-chart>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6 col-xl-3">
    <section class="area-chart" widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        Echarts <span class="fw-semi-bold">Area Chart</span>
      </h5>
      <div class="stats-row mt">
        <div class="stat-item">
          <h6 class="na  me">Overall Growth</h6>
          <p class="value">43.75%</p>
        </div>
        <div class="stat-item">
          <h6 class="name">Montly</h6>
          <p class="value">86.34%</p>
        </div>
      </div>
      <p class="text-muted fs-mini">
        <span class="fw-semi-bold">17% higher</span> than last month</p>
      <div style="height: 190px;" class="chart-overflow-bottom" echarts [options]="echartAreaChartData2">
      </div>
    </section>
  </div>
  <div class="col-lg-6 col-xl-6 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        Apex <span class="fw-semi-bold">Bars Chart</span>
      </h5>
      <apx-chart class="chart-inner transparent-bg" [chart]="apexOptions4.chart"
        [plotOptions]="apexOptions4.plotOptions" [dataLabels]="apexOptions4.dataLabels" [stroke]="apexOptions4.stroke"
        [series]="apexOptions4.series" [xaxis]="apexOptions4.xaxis" [yaxis]="apexOptions4.yaxis"
        [colors]="apexOptions4.colors" [legend]="apexOptions4.legend" [tooltip]="apexOptions4.tooltip"
        [grid]="apexOptions4.grid">
      </apx-chart>
    </section>
  </div>
  <div class="col-lg-6 col-xl-3 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        Ngx <span class="fw-semi-bold">Donut Charts</span>
      </h5>
      <div style="height: 210px;">
        <ngx-charts-pie-chart *ngIf="ngxDoughnutChartData" [scheme]="ngxDoughnutChartData.colorScheme" [results]="ngxDoughnutChartData.results"
          [gradient]="ngxDoughnutChartData.gradient" [legend]="ngxDoughnutChartData.showLegend"
          [labels]="ngxDoughnutChartData.showLabels" [explodeSlices]="ngxDoughnutChartData.expllodeSlices"
          [doughnut]="ngxDoughnutChartData.doughnut">
        </ngx-charts-pie-chart>
      </div>
      <p class="fs-mini text-muted">
        Donuts a great for representing some parted information like traffice sources,
        disk partitions, etc.
      </p>
    </section>
  </div>
</div>
