<div class="analytics-page">
  <h1 class="page-title">Analytics
    <small>
      <small>Company performance</small>
    </small>
  </h1>
  <div class="sides-wrapper">
    <div class="analytics-side">
      <div class="row">
        <div class="col-12 col-sm-6 col-xl-3" style="height: 16rem">
          <div class="pb-5 h-100">
            <section class="h-100 mb-0" widgster [loading]="analyticsService.isReceiving" [optionsControl]="false"
              [reloadControl]="false" [fullscreenControl]="false" [collapseControl]="false">
              <h5 *widgsterTitle>Visits Today</h5>
              <div class="d-flex justify-content-between align-items-center mb-lg">
                <h2>{{analyticsService.visits.count}}</h2>
                <i class="la la-arrow-right fs-xl text-success rotate-315"></i>
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="mt visits-element">
                  <h6>+{{analyticsService.visits.logins}}</h6>
                  <p class="text-muted mb-0 mr">
                    <small>Logins</small>
                  </p>
                </div>
                <div class="mt visits-element">
                  <h6>{{analyticsService.visits.sign_out_pct}}%</h6>
                  <p class="text-muted mb-0">
                    <small>Sign Out</small>
                  </p>
                </div>
                <div class="mt visits-element">
                  <h6>{{analyticsService.visits.rate_pct}}%</h6>
                  <p class="text-muted mb-0 mr">
                    <small>Rate</small>
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3" style="height: 16rem">
          <div class="pb-5 h-100">
            <section class="h-100 mb-0" widgster [loading]="analyticsService.isReceiving" [optionsControl]="false"
              [reloadControl]="false" [fullscreenControl]="false" [collapseControl]="false">
              <h5 *widgsterTitle>Revenue Breakdown</h5>
              <div class="row">
                <div style="height: 150px; width: 90%;" echarts [options]="echartPieChartData3">
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3" style="height: 16rem">
          <div class="pb-5 h-100">
            <section class="h-100 mb-0" widgster [loading]="analyticsService.isReceiving" [optionsControl]="false"
              [reloadControl]="false" [fullscreenControl]="false" [collapseControl]="false">
              <h5 *widgsterTitle>App Perfomance</h5>
              <p class="text-muted d-flex flex-wrap">
                <small class="mr-lg d-flex align-items-center">
                  <span class="circle bg-success text-success mr-xs" style="font-size: 4px;">
                    .
                  </span>
                  This Period
                </small>
                <small class="mr-lg d-flex align-items-center">
                  <span class="circle bg-warning text-info mr-xs" style="font-size: 4px;">
                    .
                  </span>
                  Last Period
                </small>
              </p>
              <h6>SDK</h6>
              <div class="progress progress-xs mb-1">
                <div class="progress-bar bg-success" style="width: 68%"></div>
              </div>
              <div class="progress progress-xs mb-1">
                <div class="progress-bar bg-warning" style="width: 29%"></div>
              </div>
              <h6>Integration</h6>
              <div class="progress progress-xs mb-1">
                <div class="progress-bar bg-success" style="width: 51%"></div>
              </div>
              <div class="progress progress-xs mb-1">
                <div class="progress-bar bg-warning" style="width: 35%"></div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3" style="height: 16rem">
          <div class="pb-5 h-100">
            <section class="h-100 mb-0" widgster [loading]="analyticsService.isReceiving" [optionsControl]="false"
              [reloadControl]="false" [fullscreenControl]="false" [collapseControl]="false">
              <h5 *widgsterTitle>Server Overview</h5>
              <div class="d-flex align-items-center mb-sm" style="margin-top: 1.5rem">
                <p class="width-150">
                  <small>{{analyticsService.server[1].pct}}% / {{analyticsService.server[1].temp}}°С /
                    {{analyticsService.server[1].frequency}} Ghz</small>
                </p>
                <div style="width: calc(100% - 150px)">
                  <ngx-trend [data]="trends[0].data" [gradient]="[trends[0].gradient]" [height]="30" [smooth]="true">
                  </ngx-trend>
                </div>
              </div>
              <div class="d-flex align-items-center mb-sm">
                <p class="width-150">
                  <small>{{analyticsService.server[2].pct}}% / {{analyticsService.server[2].temp}}°С /
                    {{analyticsService.server[2].frequency}} Ghz</small>
                </p>
                <div style="width: calc(100% - 150px)">
                  <ngx-trend [data]="trends[1].data" [gradient]="[trends[1].gradient]" [height]="30" [smooth]="true">
                  </ngx-trend>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <p class="width-150">
                  <small>{{analyticsService.server[2].pct}}% / {{analyticsService.server[2].temp}}°С /
                    {{analyticsService.server[2].frequency}} Ghz</small>
                </p>
                <div style="width: calc(100% - 150px)">
                  <ngx-trend [data]="trends[2].data" [gradient]="[trends[2].gradient]" [height]="30" [smooth]="true">
                  </ngx-trend>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-12">
          <section widgster [loading]="analyticsService.isReceiving" [optionsControl]="false" [reloadControl]="false"
            [fullscreenControl]="false">
            <h5 *widgsterTitle>Daily Line Chart</h5>
            <div style="height: 350px;" class="chart-overflow-bottom" echarts [options]="echartDailyLineChartData">
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-4" *ngFor="let stat of mock.bigStat" [attr.key]="stat.id">
          <big-stat [product]="stat.product" [color]="stat.color" [total]="stat.total"
            [registrations]="stat.registrations" [bounce]="stat.bounce"></big-stat>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false"
            [collapseControl]="false" [closeControl]="false" bodyClass="widget-table-overflow" class="pb-0 overflow-hidden">
            <h5 *widgsterTitle>Support <span class='fw-semi-bold'>Requests</span></h5>
            <div class="table-responsive">
              <table class="table table-striped table-lg requests-table">
                <thead>
                  <tr>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>PRODUCT</th>
                    <th>PRICE</th>
                    <th>DATE</th>
                    <th>CITY</th>
                    <th>STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of mock.table" [attr.key]="row.id">
                    <td>{{row.name}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.product}}</td>
                    <td>{{row.price}}</td>
                    <td>{{row.date}}</td>
                    <td>{{row.city}}</td>
                    <td>
                      <span
                        class="badge badge-pill badge-table badge-{{row.status === 'Pending' ? 'success' : row.status === 'Declined' ? 'danger' : 'info'}}">
                        {{row.status}}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="analytics-side">
      <div class="row">
        <div class="last-side-element col-12 col-md-6 col-xl-12">
          <section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false"
            [collapseControl]="false" [closeControl]="false" bodyClass="p-0 mt-0">
            <div class="calendar-navigation">
              <div class="prev" mwlCalendarPreviousView view="month" [(viewDate)]="viewDate">
                <i class="icon-arrow-left la la-arrow-left"></i></div>
              <div class="date">{{viewDate | date: 'LLLL yyyy'}}</div>
              <div class="next" mwlCalendarNextView view="month" [(viewDate)]="viewDate">
                <i class="icon-arrow-right la la-arrow-right"></i></div>
            </div>
            <mwl-calendar-month-view [viewDate]="viewDate" [events]="calendarEvents"
              (eventClicked)="onEventClick($event)">
            </mwl-calendar-month-view>
          </section>
        </div>
        <div class="last-side-element col-12 col-md-6 col-xl-12">
          <task-container [tasks]="mock.tasks"></task-container>
        </div>
        <div class="last-side-element col-12 col-md-6 col-xl-12">
          <section widgster [optionsControl]="false" [reloadControl]="false" [fullscreenControl]="false"
            [collapseControl]="false" [closeControl]="false" bodyClass="analytics-notifications w-100 mt-4">
            <h4 *widgsterTitle>Notifications
              <span class='badge badge-pill badge-success fw-bold pull-right mt-xs'>
                {{mock.notifications.length}}
              </span>
            </h4>
            <div *ngFor="let notification of mock.notifications" class="d-flex align-items-start"
              [attr.key]="notification.id">
              <i class="la la-{{notification.icon}} mr text-{{notification.color}}"></i>
              <p [ngClass]="{ 'mb-0': notification.id === mock.notifications.length - 1 }"
                [innerHtml]="notification.content | sanitize"></p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
