<div class="mb-5">
  <section
    widgster
    class="h-100"
  >
    <h4 *widgsterTitle class='d-flex align-items-center big-stat-title'>
      <span class="circle bg-{{color}} mr-sm" [ngStyle]="{ 'font-size': '6px' }"></span>
      Statistic <span class="fw-normal ml-xs">{{product}}</span>
    </h4>
    <div *widgsterControls class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-default btn-sm dropdown-toggle"
              aria-controls="dropdown-basic">
        {{text}}
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" (click)="changeText($event, 'Daily')" href="#">Daily</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="changeText($event, 'Weekly')" href="#">Weekly</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="changeText($event, 'Yearly')" href="#">Yearly</a></li>
      </ul>
    </div>
    <div class="px-4">
      <h4 class="fw-semi-bold mt">{{total}}</h4>
      <div class="d-flex">
        <div class="w-50 py-3 pr-2">
          <div class="d-flex align-items-start">
            <h6>+{{registrations.value}}</h6>
            <i
              class="la la-arrow-right ml-sm fs-xl text-{{registrations.profit ? 'success' : 'danger'}} rotate-{{registrations.profit ? '315' : '45'}}"></i>
          </div>
          <p class="text-muted mb-0 mr">
            <small>Registrations</small>
          </p>
        </div>
        <div class="w-50 py-3 pl-2">
          <div class="d-flex align-items-start">
            <h6>{{bounce.value}}%</h6>
            <i
              class="la la-arrow-right fs-xl ml-sm text-{{bounce.profit ? 'success' : 'danger'}} rotate-{{bounce.profit ? '315' : '45'}}"></i>
          </div>
          <p class="text-muted mb-0 mr">
            <small>Bounce Rate</small>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
