<ol class="breadcrumb">
  <li class="breadcrumb-item">YOU ARE HERE</li>
  <li class="breadcrumb-item active">Form Validation</li>
</ol>
<h1 class="page-title">Form - <span class="fw-semi-bold">Validation</span></h1>
<div class="row">
  <div class="col-lg-1 d-lg-block d-none"></div>
  <div class="col-lg-8 col-12">
    <section widgster [optionsControl]="false" [fullscreenControl]="false" [reloadControl]="false">
      <h5 *widgsterTitle>
        Dead simple validation
        <small>No JS needed to tune-up</small>
      </h5>
      <form class="form-horizontal form-label-left" [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
          <div class="form-group row">
            <label class="form-control-label col-md-3 col-12" for="basic">Simple required</label>
            <div class="col-md-9 col-12">
              <input type="text" formControlName="req" class="form-control input-transparent">
              <p *ngIf="submitted && form.get('req').invalid" class="error">This value is required</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="form-control-label col-md-3 col-12" for="basic-change">
              Min-length On Change
              <span class="help-block">
                At least 10
              </span>
            </label>
            <div class="col-md-9 col-12">
              <input formControlName="min" type="text" class="form-control input-transparent">
              <p class="error" *ngIf="submitted && form.get('min').errors?.required">This value is required</p>
              <p class="error" *ngIf="
                  submitted
                  && form.get('min').errors?.minlength
                  && !form.get('min').errors?.required
                  ">This value is too short. It should have 10 characters or more.</p>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>
            <span class="badge badge-warning p-2 text-gray-dark mr-1">
              HTML5
            </span>
            input types supported
          </legend>
          <div class="form-group row">
            <label class="form-control-label col-md-3 col-12" for="email">
              E-mail
            </label>
            <div class="col-md-9 col-12">
              <input formControlName="email" type="email" class="form-control input-transparent">
              <p class="error" *ngIf="submitted && form.get('email').invalid">This value should be a valid email.</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="form-control-label col-md-3 col-12" for="number">
              Number
            </label>
            <div class="col-md-9 col-12">
              <input formControlName="number" type="text" class="form-control input-transparent">
              <p class="error" *ngIf="submitted && form.get('number').errors?.required">This value is required</p>
              <p class="error" *ngIf="
                submitted
                && form.get('number').errors?.pattern
                && !form.get('number').errors?.required">This value shuld be a number</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="form-control-label col-md-3 col-12" for="range">
              Range
            </label>
            <div class="col-md-9 col-12">
              <input formControlName="range" type="text" class="form-control input-transparent">
              <p class="error" *ngIf="submitted && form.get('range').errors?.required">This value is required</p>
              <p class="error" *ngIf="
                submitted
                && form.get('range').errors?.pattern
                && !form.get('range').errors?.required">This value must be number</p>
              <p class="error" *ngIf="
                submitted
                && (
                  form.get('range').errors?.min
                  || form.get('range').errors?.max
                )
                && ! form.get('range').errors?.required">Out of range</p>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>
            More validation
          </legend>
          <div class="form-group row" formGroupName="passwords">
            <label class="form-control-label col-md-3 col-12" for="password">
              Password helpers
            </label>
            <div class="col-md-9 col-12">
              <input formControlName="password" type="password" class="form-control input-transparent mb-sm">
              <p class="error" *ngIf="submitted && form.get('passwords').get('password').errors?.required">This value
                is required</p>
              <p class="error"
                *ngIf="submitted && form.get('passwords').get('password').errors?.minlength && !form.get('passwords').get('password').errors?.required">
                This value should at least 6 characters long
              </p>
              <input formControlName="repeatPassword" type="password" class="form-control input-transparent">
              <p class="error" *ngIf="submitted && form.get('passwords').get('repeatPassword').errors?.required">This
                value is required</p>
              <p class="error"
                *ngIf="submitted && form.get('passwords').errors?.passwordsMismatch && !form.get('passwords').get('repeatPassword').errors?.required">
                Passwords should match</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="form-control-label col-md-3 col-12" for="website">
              URL
            </label>
            <div class="col-md-9 col-12">
              <input formControlName="url" type="text" class="form-control input-transparent">
              <p class="error" *ngIf="submitted && form.get('url').errors?.required">This value is required</p>
              <p class="error" *ngIf="
                submitted
                && form.get('url').errors?.invalidURL
                && !form.get('url').errors?.required
              ">Invalid URL</p>
            </div>
          </div>
        </fieldset>
        <div class="form-actions">
          <button type="submit" class="btn btn-success btn-rounded float-right">Validate &amp; Submit</button>
          <button (click)="onReset()" type="button" class="btn btn-default btn-rounded">Reset</button>
        </div>
      </form>
    </section>
  </div>
</div>
